.git
.gitmodules
**/.git
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.o
**/*.linkinfo
**/*.log
**/*.log.gz
**/*.csv
integrated_test/generated_base/
integrated_test/generated_scale_out/
integrated_test/generated_scale_up/
**/result_summary/
**/result_summary/**
**/archived_results/
**/archived_results/**
